//- #loading Loading...
//- #loaded.hidden
nav.nav
  .container
    .nav-left
      a.nav-item(href='/')
        img(src='icon.png')
      a.nav-item(href='/')
        p.navTitle 
          | Tru
          b Recruit
        
    span#toggle.nav-toggle
      span 
      span 
      span 

    #navbar.nav-right.nav-menu
      a.nav-item.is-tab(href='/')
        | Home
      a.nav-item.is-tab
        | Contact
      span.nav-item#user-signed-out.hidden
        a.button(href='/login')
          span#sign-in Sign In
      span.nav-item#user-signed-in.hidden
        a.button#sign-out
          span Sign Out
      span.nav-item
        a.button.is-primary(href='/signup')
          span Sign Up
