extends layout

block content
  section.hero.is-medium.is-primary.is-bold.is-mobile
    .hero-body
      .container
        h1.title 
          | Tru
          b Recruit
        h3 Welcome to TruRecruit.
        h3 A simpler way to network resumes.
  section.section.how
    .container
      .heading
        h1.t How it works
      .columns
        .column
          .card
            .card-image
              figure.image-is-4by3
                img(src='/assets/resume.png' alt='Resume')
            .card-content
              .content.has-text-centered(style='font-weight: bold;')
                | 1. Prospective candidates sign up and upload a copy of their 
                | resume to our website.
        .column
          .card
            .card-image
              figure.image-is-4by3
                img(src='/assets/qrcode.png' alt='QR Code')
            .card-content
              .content.has-text-centered(style='font-weight: bold;')
                | 2. Prospective candidates save a QR code provided by us.
        .column
          .card
            .card-image
              figure.image-is-4by3
                img(src='/assets/recruiter.png' alt='Recruiter')
            .card-content
              .content.has-text-centered(style='font-weight: bold;')
                | 3. Recruiters takes notes and rate resumes after scanning a 
                | candidate's QR code.
                
  footer.footer
    .container
      .content.has-text-centered
        p.is-dark
          strong TruRecruit 2017
        p.is-dark
          | From Austin, TX, with   
          i.fa.fa-heart
        p.is-dark
          a.icon(href="https://www.facebook.com/trurecruit/" target="_blank")
            i.fa.fa-facebook-square
          |     
          a.icon(href="mailto:help@studioinit.com" target="_top")
            i.fa.fa-envelope
            
  script(src='/js/index.js')


  
