extends layout

block content
  section.hero.is-medium.is-primary.is-bold.is-mobile
    .hero-body
      .container
        h1.title 
          | Tru
          b Recruit
        h3 Welcome to TruRecruit.
        h3 A simpler way to network resumes.
  //- section.section.how
  //-   .container
  //-     .heading
  //-       .title.t How it works
  script(src='/js/index.js')
