extends layout

block content
  #loading Loading...
  #loaded.hidden
    #main
      #user-signed-in.hidden
        .columns
          .column
          .column 
          .column 
            .card(style='margin-top: 20px;')
              .card-content
                .media
                  .media-left
                    figure(class='image', style='height: 80px; width: 80px;') 
                      img#photo
                  .media-content
                    p.title.is-4#name
                    p.subtitle.is-6#email
          .column 
          .column
          .clearfix
        .columns
          .column
          .column
          .column
            .card
              .card-header
                p.card-header-title.resumeTitle
                  | Upload Your Resume
              .card-content
                h6 Choose Resume 
                input(type="file" id="file" name="file")
                h6 File
                span#linkbox
            .card.is-mobile
              .card-header
                p.card-header-title
                  | QR Code
              .card-content
                .content
                  #qrcode
          .column
          .column
          .clearfix
        .columns
          .column
          .column
          .column
            .card.but
              button.button.is-danger#delete-account Delete account
          .column
          .column
      #user-signed-out.hidden
        .login-wrapper.columns
          .column.is-8.is-hidden-mobile.hero-banner
            section.hero.is-fullheight.is-dark
              .hero-body
                .container.section
                  .has-text-right
                    h1.title.is-1 Login
                    br
                    p.title.is-3 Secure User Account Login
              .hero-footer
                p.has-text-centered Image © Glenn Carstens-Peters via unsplash
          .column.is-4
            section.hero.is-fullheight
              .hero-heading
                .section.has-text-centered
                  img(src='http://bulma.io/images/bulma-logo.png', alt='Bulma logo', width='150px')
              .hero-body
                .container
                  .columns
                    .column.is-8.is-offset-2
                      h1.avatar.has-text-centered.section
                        img(src='https://placehold.it/128x128')
                      .login-form
                        p.control.has-icon.has-icon-right
                          input.input.email-input(type='text', placeholder='jsmith@example.org')
                          span.icon.user
                            i.fa.fa-user
                        p.control.has-icon.has-icon-right
                          input.input.password-input(type='password', placeholder='●●●●●●●')
                          span.icon.user
                            i.fa.fa-lock
                        p.control.login
                          button.button.is-success.is-outlined.is-large.is-fullwidth Login
                      .section.forgot-password
                        p.has-text-centered
                          a(href='#') Forgot password
                          a(href='#') Need help?
        #firebaseui-spa
          #firebaseui-container
  script(src='/js/app.js')
  script(src='/js/fileUpload.js')
  script(src='/js/index.js')
