doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    script(src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js")
    script(src='/js/config.js')
    script(src='/js/qrcode.js')
    script(src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js")
    script(src="https://code.jquery.com/jquery-3.1.1.slim.js" integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA=" crossorigin="anonymous")
    script(src="https://use.fontawesome.com/94dc17aa33.js")
    link(type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css")
    
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    
  body
    section.hero.is-fullheight.is-primary.is-bold
      .hero-body
        .container
          .columns.is-vcentered
            .column.is-4.is-offset-4
              h1.title.has-text-centered Login 
              form.box(method="post")
                h4.error= error
                label.label 
                  | Email 
                  span(style="color: red;") *
                p.control
                  input.input(type="text" name="email" placeholder="jsmith@example.com" required)
                label.label 
                  | Password 
                  span(style="color: red;") *
                p.control
                  input.input(type="password" name="password" placeholder="●●●●●●●" required)
                hr
                p.control.columns
                  .column.is-12
                    p.has-text-centered(style="color: gray;") or continue with...
                    a.button.fb.has-text-centered.is-primary
                      i.fa.fa-facebook
                    a.button.go.has-text-centered
                      i.fa.fa-google

                hr
                
                p.control 
                  
                  input.button.is-primary(type="submit" value="Login")
                  a.button.cancel.is-default(href='/') Cancel
              p.has-text-centered
                a(href="/signup") Register an Account |
                 
                a(href="#")  Forgot Password |
                 
                a(href="#")  Need Help?
