body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #263238;
  /*height: 1000px;*/
}

h1.title {
  font-size: 35px;
}

h2 {
  font-size: 22px !important;
}

h3 {
  font-size: 15px !important;
}

h4.error {
  color: red !important;
}

.cancel {
  color: #263238;
}

.go {
  margin-top: 15px;
  margin-left: 10px;
  height: 40px !important;
  width: 46% !important;
  border-radius: 25px !important;
  background-color: #B71C1C !important;
}

.fb {
  margin-top: 15px;
  margin-left: 10px;
  height: 40px !important;
  width: 46% !important;
  border-radius: 25px !important;
  background-color: #1565C0 !important;
}

.how {
  background-color: #263238 !important;
}

.is-dark {
  font-size: 15px;
  color: #263238;
}

.t {
  font-size: 25px;
  color: #eee !important;
  padding-bottom: 30px;
}

.cancel {
  margin-left: 5px !important;
  color: #263238 !important;
}

.navTitle {
  margin-left: -15px;
  font-size: 20px;
  color: #263238;
}

.signup {
  margin-top: 50px;
}

h1, h2, h3, h4 {
  color: #eee !important;
}

p {
  color: #eee;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.but {
  background-color: none;
}

.resumeTitle {
  text-align: center;
}

#delete-account {
  position: absolute;
}

#user-info {
  /*border: 1px solid #CCC;*/
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 999px) {
  .nav-menu {
    background-color: white;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }
  .nav-menu .nav-item {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    padding: 0.75rem;
  }
  .nav-menu.is-active {
    display: block;
  }
}
