body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #263238;
  /*height: 1000px;*/
}

.how {
  background-color: #263238 !important;
}

.t {
  color: #eee !important;

}

.cancel {
  margin-left: 5px !important;
  color: #263238 !important;
}

.title {
  font: 20px;
}

.navTitle {
  color: #263238;
}

.signup {
  margin-top: 50px;
}

h1, h2, h3, h4 {
  color: #eee;
}

p {
  color: #eee;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

.but {
  background-color: none;
}

.resumeTitle {
  text-align: center;
}

#delete-account {
  position: absolute;
}

#user-info {
  /*border: 1px solid #CCC;*/
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}
